  <!--{{ $urlPre := "https://api.instagram.com/v1/users/self/media/recent?access_token=" }}
  {{ $id := .Site.Params.inst_access }}
  {{ $inst := getJSON $urlPre $id }}
  
  {{ range first 5 $inst.data }}

  <li><a href="{{ .link }}" target="_blank"><img src="{{ .images.standard_resolution.url }}" alt="{{ .caption.text }}"></a></li>
      {{ end }}
 
      <div class="row">
            {{ $dataJ := getJSON (printf "https://api.instagram.com/v1/users/self/media/recent/?access_token=%s" .Site.Params.inst_access) }}
                    {{ range $dataJ.data }}
                    <a href="{{ .link }}" target="_new">
            
                        <div class="cover-card col-sm-4" style="background: url({{ .images.standard_resolution.url }}) no-repeat center top;background-size:cover;">
                            <p>
                                {{ with .caption }}{{ .text }}<br>
                             -<br>{{ end }}
                                <span class="play-date" data-date="{{ .created_time }}"></span>
                            </p>
                         </div>
                    </a>
                    {{ end }}
                 </div>
                -->