.grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 800px) {
    .grid-container {
      flex-direction: column;
    }
  }

.grid-item {
    flex: 0 0 25%; /*grow | shrink | basis */
    margin: 1em 1em; /*space between items */
    align-self: flex-start;
}